.Camp{
    border: 5px solid black;
}
.Camp img{
width: 100%;
}
.Camp h5, .Camp p{
    margin: 20px;
}
.ahead{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.ahead i{
    float: right;
}
.achievement_text span{
    color: orange;
}
#ContactUs iframe{
    width: 100%;
}